<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <header>
      <nav class="navbar">
          <ul class="nav-menu">
              <li>
                  <a href = "home.html" class="nav-link">Home</a>
              </li>
              <li>
                  <a href = "shop.html" class="nav-link">Shop</a>
              </li>
              <li>
                  <a href = "collections.html" class="nav-link">Collections</a>
              </li>
              <li>
                  <a href = "about.html" class="nav-link">About</a>
              </li>
          </ul>
          <h1 class="logo">LASOYE</h1>

          <ul class="nav-right">
              <li><a href="#">Search</a></li>
              <li><a href="account.html">Account</a></li>
              <li><a href="contact.html">Contact Us</a></li>
          </ul>
      </nav>
  </header>
  <div class="wrapper">
    <form id="contact" method="POST" action="/account" class="contact">
      <h2 class="registration">Registration</h2>
      <div class="input-box">
        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-messages" style="color: #d95a6d; margin-bottom: 15px; font-weight: bold;">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %} -->

        <input type="text" name="username" placeholder="Enter your name" required/>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Enter your email" required/>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Create password" required/>
      </div>
      <div class="input-box">
        <input type="password" name="confirm_password" placeholder="Confirm password" required/>
      </div>
      <div class="policy">
        <input type="checkbox" name="accepted_terms">
        <h3>I accept <a href="#">terms & conditions</a></h3>
      </div>
      <div class="button">
        <button>Register Now</button>
      </div>
      <div class="text">
        <h3>Already have an account?
          <a href="login.html">Login now</a>
        </h3>
      </div>
    </form>
  </div>
</body>
</html>