<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>Login</title>
</head>
<body>
  <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li>
                    <a href = "home.html" class="nav-link">Home</a>
                </li>
                <li>
                    <a href = "shop.html" class="nav-link">Shop</a>
                </li>
                <li>
                    <a href = "collections.html" class="nav-link">Collections</a>
                </li>
                <li>
                    <a href = "about.html" class="nav-link">About</a>
                </li>
            </ul>
            <h1 class="logo">LASOYE</h1>

            <ul class="nav-right">
                <li><a href="#">Search</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
  <div class="wrapper">
      <form id="contact" action="/login" class="contact" method="POST">
        <h2 class="registration">Login</h2>
        <div class="input-box">
          <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="flash-messages" style="color: #d95a6d; margin-bottom: 15px; font-weight: bold;">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %} -->
          <input type="text" placeholder="Enter username" name="username" required/>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your password" name="password"required/>
        </div>
        <div class="policy">
          <input type="checkbox">
          <h3>I accept <a href="#">terms & conditions</a></h3>
        </div>
        <div class="button">
          <button>Log in</button>
        </div>
        <div class="text">
          <h3>Don't have an account?
            <a href="account.html">Sign up now</a>
          </h3>
        </div>
      </form>
  </div>
</body>
</html>